<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FamilySearch.API.SDK" version="1.0.5422.31549" targetFramework="net452" />
  <package id="Flurl" version="1.0.2" targetFramework="net452" />
  <package id="Gedcomx.API.SDK" version="1.0.5422.31548" targetFramework="net452" />
  <package id="Gedcomx.File" version="1.0.5416.32152" targetFramework="net452" />
  <package id="Gedcomx.Model" version="1.0.5416.32150" targetFramework="net452" />
  <package id="Gedcomx.Model.Fs" version="1.0.5416.32151" targetFramework="net452" />
  <package id="Gedcomx.Model.Rs" version="1.0.5416.32150" targetFramework="net452" />
  <package id="json-ld.net" version="1.0.3" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="RestSharp" version="104.5.0" targetFramework="net452" />
  <package id="Tavis.UriTemplates" version="0.4" targetFramework="net452" />
</packages>